<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :recipe_name %>
  </div>

  <div class="field">
    <%= form.label :process %>
    <%= form.text_area :process, id: :recipe_process %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :recipe_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
