<%= form_with(model: usage, local: true) do |form| %>
  <% if usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usage.errors.count, "error") %> prohibited this usage from being saved:</h2>

      <ul>
      <% usage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= form.number_field :recipe_id, id: :usage_recipe_id %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.number_field :ingredient_id, id: :usage_ingredient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
