<p id="notice"><%= notice %></p>

<h1>Usages</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Ingredient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usages.each do |usage| %>
      <tr>
        <td><%= usage.recipe_id %></td>
        <td><%= usage.ingredient_id %></td>
        <td><%= link_to 'Show', usage %></td>
        <td><%= link_to 'Edit', edit_usage_path(usage) %></td>
        <td><%= link_to 'Destroy', usage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usage', new_usage_path %>
