<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @usage.recipe_id %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @usage.ingredient_id %>
</p>

<%= link_to 'Edit', edit_usage_path(@usage) %> |
<%= link_to 'Back', usages_path %>
